.RecipeList {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.RecipeList h3 {
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    color: #333;
}

.RecipeList p {
    color: #666;
}

.RecipeList a {
    color: #2196f3;
    margin-top: 10px;
}

.RecipeList a:hover {
    text-decoration: underline;
}
